# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment directory
.venv/

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore database files
*.sqlite
*.db